{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col">
        <div class="card" style="width: 18rem;">
          <a href="/random">
          <img src="/static/img/random.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">
              <h4>RANDOM</h4>
              Choose if you don't feel like cooking today
            </p>  
          </div>
        </a>
        </div>
      </div>
      
      <div class="col">
        <div class="card" style="width: 18rem;">
          <a href="/category/all">
          <img src="/static/img/category.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">
              <h4>CATEGORY</h4>
              Think about what you want and we will make it happen 
            </p>    
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="/static/img/ingredient.jpg" class="card-img-top">
          <div class="card-body">
            <p class="card-text">
              <h4>INGRENDIENT</h4>
              Tell kitty what's inside your fridge and I'll tell you what to do with it 
            </p>

            <form action="/ingredient" method="GET">
              <div class="mb-3">
                <label class="form-label">Specify the ingredient</label>
                <input name="ingredient">
                
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">Look for meals</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}