{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ recepie['meals'][0]['strMealThumb'] }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{recepie['meals'][0]['strMeal']}}</h5>
              
              <p class="card-text">
                  <small class="text-muted">
                    <h4>Category</h4>
                    {{recepie['meals'][0]['strCategory']}}
                </small></p>
                
                <p class="card-text">
                    <small class="text-muted">
                      <h4>Area</h4>
                      {{recepie['meals'][0]['strArea']}}
                  </small></p>
                  
                  <p class="card-text">
                    <small class="text-muted">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Ingredient</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in ingredients %} 
                          <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ ingredients[i] }}</td>
                          </tr>
                          {% endfor %}                         
                        </tbody>
                      </table>  
                  </small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="card-text">
        {% for i in instruction %}
        {{ i }} <br><br>
        {% endfor %}
        </p>
      </div>  

      <div class="container">        
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src={{yt_link}} allowfullscreen></iframe>
        </div>


      </div>
{% endblock %}